POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=AiSummarizer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ConnectionStrings__Postgres=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
InternalApi__ApiKey=change-me

Users__SessionLifetimeDays=30
Users__RefreshTokenLifetimeDays=30
Users__GoogleTokenInfoEndpoint=https://oauth2.googleapis.com/tokeninfo
Users__FacebookGraphBaseUrl=https://graph.facebook.com
Users__FacebookGraphVersion=v20.0
Users__FacebookAppId=
Users__FacebookAppSecret=

Worker__WorkerId=worker-local-1
Worker__PollIntervalMilliseconds=1000
Worker__LeaseSeconds=60
Worker__HeartbeatSeconds=10
Worker__MaxConcurrentJobs=1

Jobs__YouTubeDownload__OutputDirectory=./downloads/youtube
Jobs__YouTubeDownload__YtDlpExecutable=yt-dlp
Jobs__YouTubeDownload__MaxAttempts=3
Jobs__YouTubeDownload__RetryDelay=00:00:30
